<%- include('../header') %>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">View Blog Details</h4>

                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Blog/view-blog">Back to Blogs</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog Info</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <form class="form-horizontal">
                            <div class="card-body">
                                <h4 class="card-title">Blog Info</h4>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Blog Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="<%= blog.title %>" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Blog
                                        Description</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="<%= blog.description %>"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Blog Content</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" rows="6" readonly><%= blog.content %></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Blog Author</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="<%= blog.author %>" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Publish Date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="<%= blog.publishDate %>"
                                            readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Blog
                                        Category</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" value="<%= blog.category %>" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Blog Image</label>
                                    <div class="col-sm-9">
                                        <% if (blog && blog.blogImg) { %>
                                            <img src="<%= blog.blogImg %>" width="150" class="img-thumbnail mt-2"
                                                alt="Blog Image">
                                            <% } else { %>
                                                <span class="text-muted">No Image</span>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <a href="/blog/edit-blog/<%= blog._id %>" class="btn btn-warning">Edit Blog</a>
                                    <a href="/blog/delete-blog/<%= blog._id %>" class="btn btn-danger">Delete Blog</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../footer') %>