<%- include('../header') %>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Blog List</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <!-- Search Box -->
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="GET" action="/Blog/view-blog" class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-10">
                                        <input type="text" name="search" class="form-control"
                                            placeholder="Search by title or category (e.g. AI, Technology, Business)"
                                            value="<%= search || '' %>">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary w-100">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="mt-3">
                                <a href="/Blog/view-blog" class="btn btn-sm btn-outline-dark">All</a>
                                <a href="/Blog/view-blog?search=Technology"
                                    class="btn btn-sm btn-outline-primary">Technology</a>
                                <a href="/Blog/view-blog?search=Business"
                                    class="btn btn-sm btn-outline-primary">Business & Finance</a>
                                <a href="/Blog/view-blog?search=Education"
                                    class="btn btn-sm btn-outline-primary">Education</a>
                                <a href="/Blog/view-blog?search=Lifestyle"
                                    class="btn btn-sm btn-outline-primary">Lifestyle</a>
                                <a href="/Blog/view-blog?search=Entertainment"
                                    class="btn btn-sm btn-outline-primary">Entertainment</a>
                                <a href="/Blog/view-blog?search=AI" class="btn btn-sm btn-outline-primary">AI</a>
                                <a href="/Blog/view-blog?search=Food" class="btn btn-sm btn-outline-primary">Food</a>
                                <a href="/Blog/view-blog?search=Fitness"
                                    class="btn btn-sm btn-outline-primary">Fitness</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blog List Table -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Blogs</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Publish Date</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (blogs && blogs.length> 0) { %>
                                        <% blogs.forEach((blog, i)=> { %>
                                            <tr>
                                                <th scope="row">
                                                    <%= i + 1 %>
                                                </th>
                                                <td>
                                                    <% if (blog.blogImg) { %>
                                                        <img src="<%= blog.blogImg %>" width="60" class="img-thumbnail"
                                                            alt="blog">
                                                        <% } else { %>
                                                            <span>No Image</span>
                                                            <% } %>
                                                </td>
                                                <td>
                                                    <%= blog.title %>
                                                </td>
                                                <td>
                                                    <span class="badge badge-primary">
                                                        <%= blog.category %>
                                                    </span>
                                                </td>
                                                <td>
                                                    <%= blog.author %>
                                                </td>
                                                <td>
                                                    <% if (blog.publishDate) { %>
                                                        <%= blog.publishDate.toISOString ?
                                                            blog.publishDate.toISOString().split('T')[0] :
                                                            blog.publishDate %>
                                                            <% } %>
                                                </td>
                                                <td>
                                                    <a href="/Blog/view-single/<%= blog._id %>"
                                                        class="btn btn-info btn-sm">View</a>
                                                    <a href="/blog/edit-blog/<%= blog._id %>"
                                                        class="btn btn-warning btn-sm">Edit</a>
                                                    <a href="/blog/delete-blog/<%= blog._id %>"
                                                        class="btn btn-danger btn-sm">Delete</a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colSpan="7" class="text-center">No blogs found.</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../footer') %>