<%- include('../header') %>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Admin List</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Admins</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>SubCategory</th>
                                    <th>ExtraCategory</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach((prod, i)=>{ %>
                                    <tr>
                                        <th scope="row">
                                            <%= i+1 %>
                                        </th>
                                        <td>
                                            <%= prod.prodName %>
                                        </td>
                                        <td>
                                            <%= prod.prodDes %>
                                        </td>
                                        <td>
                                            <%= prod.prodPrice %>
                                        </td>
                                        <td>
                                            <%= prod.categoryId ? prod.categoryId.categoryName : "-" %>
                                        </td>

                                        <td>
                                            <%= prod.subCategoryId ? prod.subCategoryId.subCategoryName : "-" %>
                                        </td>

                                        <td>
                                            <%= prod.extracategoryId ? prod.extracategoryId.extraCategoryName : "-" %>
                                        </td>
                                        <td>
                                            <% if (prod.prodImg) { %>
                                                <img src="<%= prod.prodImg %>" width="60">
                                                <% } else { %>
                                                    No Image
                                                    <% } %>
                                        </td>
                                        <td>
                                            <a href="/products/edit-product/<%= prod._id %>"
                                                class="btn btn-warning">EDIT</a>
                                            <a href="/products/delete-product/<%= prod._id %>"
                                                class="btn btn-danger">DELETE</a>
                                        </td>
                                    </tr>
                                    <% })%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../footer')%>