<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <!-- Movie List -->
    <div class="glass-card">
        <header>
            <a href="/">Add movie</a>
            <a href="/add">View movie</a>
        </header>

        <h3>All Movies</h3>

        <div class="movie-grid">

            <% movies.forEach((movie,i)=>{ %>

                <div class="movie-card">

                    <div class="poster">
                        <img src="<%= movie.movieImg %>">
                    </div>

                    <div class="movie-info">
                        <h4>
                            <%= movie.title %>
                        </h4>

                        <p><strong>Genre:</strong>
                            <%= movie.genre %>
                        </p>
                        <p><strong>Description:</strong>
                            <%= movie.description %>
                        </p>
                        <p><strong>Duration:</strong>
                            <%= movie.duration %> hrs
                        </p>    

                        <div class="actions">
                            <a href="/edit-movie/<%= movie._id%>" class="edit">Edit</a>
                            <a href="/delete-movie/<%= movie._id%>" class="delete">Delete</a>
                        </div>
                    </div>

                </div>

                <% }) %>

        </div>

    </div>
</body>

</html>