<%- include('../header') %>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Admin List</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Admins</h5>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Contact No</th>
                                    <th scope="col">Profile Image</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% admins.forEach((admin, i)=>{ %>
                                    <tr>
                                        <th scope="row">
                                            <%= i+1 %>
                                        </th>
                                        <td>
                                            <%= admin.firstname %>
                                        </td>
                                        <td>
                                            <%= admin.lastname %>
                                        </td>
                                        <td>
                                            <%= admin.email %>
                                        </td>
                                        <td>
                                            <%= admin.gender %>
                                        </td>
                                        <td>
                                            <%= admin.mobileNo %>
                                        </td>
                                        <td><img src="<%= admin.profileimg %>" width="60" alt=""></td>
                                        <td>
                                            <a href="/admin/edit-admin/<%= admin._id %>"
                                                class="btn btn-warning">EDIT</a>
                                            <a href="/admin/delete-admin/<%= admin._id %>"
                                                class="btn btn-danger">DELETE</a>
                                        </td>
                                    </tr>
                                    <% })%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../footer')%>